<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
{% block form %}        
<div class="container">
    <div class="py-5 text-center">
        <h2>Sign up form</h2>
        <p class="lead">Please fill in all the fields</p>
    </div>
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-4">
            {% if form.errors %}
                <div class="alert alert-danger pl-25">
                    <p class="form-error">{{ form.errors }}</p>
                </div>
            {% endif %}
            <form class="needs-validation" method="post">
                <div class="col-12 mb-2">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="col-12 mb-2">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="col-12 mb-2">
                    {{ form.password1.label }}
                    {{ form.password1 }}
                </div>
                <div class="col-12 mb-2">
                    {{ form.password2.label }}
                    {{ form.password2 }}
                </div>
                <div class="col-12 mb-2">
                    <hr class="mb-4">
                    {% csrf_token %}
                    <button class="btn btn-dark btn btn-block" type="submit">Create an account </button>
                </div>
            </form>
            <div class="text-center mt-3 mb-5">
                Already have an account at Our site?
                <a href="{% url 'users:sign_in' %}">Sign in </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}          
</body>


